<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="head :: head_fragment(title = '予約情報', scripts = ~{::script}, links = ~{::link})"></head>
<body>
  <div class="container">
    <h1>予約情報一覧</h1>
    <div class="float-end">
      <a th:href="@{/reserve/createEdit}" class="btn btn-primary">新規登録はこちら</a>
    </div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>予約日時</th>
          <th>配達日</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="reserve_info : ${reserveList}" th:object="${reserve_info}" class="align-middle">
          <td th:text="*{reserveId}"></td>
          <td th:text="*{reserveTime}"></td>
          <td th:text="*{deliveryDate}"></td>
          <td>
            <form action="/reserve/edit" method="GET">
              <button type="submit" name="reserveId" th:value="*{reserveId}" class="btn btn-secondary">詳細</button>
            </form>
           </td>
           <td>
            <form action="/reserve/delete" method="POST">
               <input name="_method" type="hidden" value="DELETE">
               <button type="submit" name="reserveId" th:value="*{reserveId}" class="btn btn-secondary">削除</button>
            </form>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</body>
</html>
