<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/head :: head_fragment(title = '予約情報', scripts = ~{::script}, links = ~{::link})"></head>
<body>
  <div class="container">
    <h1>予約情報一覧</h1>
    <div class="float-end">
      <a th:href="@{/item/createEdit}" class="btn btn-primary">新規登録はこちら</a>
    </div>
    ★以下に検索されたデータが表示されます
    <table border="0">
        <tr>
            <td align="left" valign="top">ID：</td>
            <td th:text="${itemData.itemId}"></td>
        </tr>
        <tr>
            <td align="left" valign="top">ユーザID：</td>
            <td th:text="${itemData.itemName}"></td>
        </tr>
        <tr>
            <td align="left" valign="top">予約日時：</td>
            <td th:text="${itemData.reserveTime}"></td>
        </tr>
        <tr>
            <td align="left" valign="top">配達日：</td>
            <td th:text="${itemData.deliveryDate}"></td>
        </tr>
    </table>
  </div>
</body>
</html>
