<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="head :: head_fragment(title = 'ユーザー情報', scripts = ~{::script}, links = ~{::link})"></head>
<body>
  <div class="container">
    <h1>ユーザー情報更新</h1>
    ★以下の内容で更新します。
    <form method="POST" th:action="@{/user/update}">
    <table border="0">
        <tr>
            <td align="left" valign="top">ID：</td>
            <td><input type="text" th:field="${userData.userId}" readonly="readonly"></td>
        </tr>
        <tr>
            <td align="left" valign="top">名前：</td>
            <td><input type="text" th:field="${userData.userName}"></td>
        </tr>
        <tr>
            <td align="left" valign="top">E-Mail：</td>
            <td><input type="text" th:field="${userData.email}"></td>
        </tr>
    </table>
    <input name="_method" type="hidden" value="PUT">
    <input type="submit" value="更新"/>
    </form>
  </div>
</body>
</html>